#slidebarQues {
    margin-top: 50px;
    margin-left: 20px;
}
.question-block {
    background: #292b61;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    width: fit-content;
}
.question-block input {
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #6200ea;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #3700b3;
}